.gameplay {
  color: white;
  font-family: 'Titillium Web';
  font-size: 3.154rem;
  line-height: 0.150rem;
  font-weight: 800;
  margin-bottom: 2.308rem;
  text-transform: uppercase;
}
.image-content {
  z-index: 100px;
  margin-top: 0px;
  text-align: unset;
}
.image-content h1 {
  color: white;
  font-family: 'Titillium Web';
  font-size: 5.154rem;
  line-height: 5.154rem;
  font-weight: 1000;
  margin-bottom: 2.308rem;
  text-transform: uppercase;
}
.navbar {
  list-style: none;
}
.navbar li {
  display: inline;
}

.auth-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.searchbox h2 {
  color: white;
}
.footer {
  background-color: #111111;
  color: white;
}
.footer ul {
  list-style: none;
}

.footer h3 {
  color: mediumturquoise;
}
.bottom-footer {
  background-color:#070707;
}
.bottom-footer li {
  display: inline;
  padding: 5px;
}

.form-group input {
  border-radius: unset;
  height: 50px;
}
.btn-solid {
  padding: 13px 29px;
  border-radius: unset;
  letter-spacing: 0.05em;
  background-image: -webkit-linear-gradient(30deg,rgb(62, 190, 190) 50%,transparent 50%);
  background-size: 540px;
  background-repeat: no-repeat;
  background-position: 0;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.btn-solid:hover {
  background-position: 100%;
  color: #000000;
  background-color: cornflowerblue;
  border-radius: unset;
}

.auth-form {
  margin-top: 10%;
}
.newly-released {
  z-index: -1;
  margin-top: -200px;
}
.newly-released img {
  width: 100%;
  max-height: 400px;
  margin-top: -70px;
  margin-bottom: 70px ;
  border-radius: 10px;
}
.newly-released .upcoming {
  color: white;
  margin-top: -30px;
  margin-bottom: 30px ;
}
.new-released {
  width: 100%;
  max-height: 300px;
}
.header-color {
  color: #71D9EA ;
}
.blog {
  background-color: whitesmoke;
}
.card-image {
  border-radius: unset;
}
.results-container {
  z-index: 1000;
  margin-top: -20px;
  background-color: white;
  overflow-y: auto;
  max-height: 110px;
}
.search-list {
  display: inline;
  margin-left: 10px;
}
.search-image {
  display: inline;
  margin-left: -380px;
}

.result-items {
  color: black;
  font-family: "Roboto", sans-serif;
}
.game-search {
  color: white;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.genre-image {
  margin-left: -15px;
}
